USE [master]
GO
/****** Object:  Database [TestAG1]    Script Date: 5/4/2016 8:12:49 AM ******/
CREATE DATABASE [TestAG1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestAG1', FILENAME = N'C:\SQL\DATA\TestAG1.mdf' , SIZE = 10240000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 524288KB )
 LOG ON 
( NAME = N'TestAG1_log', FILENAME = N'C:\SQL\LOG\TestAG1_log.ldf' , SIZE = 10240000KB , MAXSIZE = 2048GB , FILEGROWTH = 524288KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestAG1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestAG1]
GO
/****** Object:  Table [dbo].[T1]    Script Date: 5/4/2016 8:12:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T1](
	[c1] [uniqueidentifier] NOT NULL,
	[c2] [char](7984) NOT NULL,
 CONSTRAINT [PK_T1] PRIMARY KEY CLUSTERED 
(
	[c1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T2]    Script Date: 5/4/2016 8:12:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T2](
	[c1] [uniqueidentifier] NOT NULL,
	[c2] [char](7984) NOT NULL,
 CONSTRAINT [PK_T2] PRIMARY KEY CLUSTERED 
(
	[c1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T3]    Script Date: 5/4/2016 8:12:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T3](
	[c1] [uniqueidentifier] NOT NULL,
	[c2] [char](7984) NOT NULL,
 CONSTRAINT [PK_T3] PRIMARY KEY CLUSTERED 
(
	[c1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T4]    Script Date: 5/4/2016 8:12:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T4](
	[c1] [uniqueidentifier] NOT NULL,
	[c2] [char](7984) NOT NULL,
 CONSTRAINT [PK_T4] PRIMARY KEY CLUSTERED 
(
	[c1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T5]    Script Date: 5/4/2016 8:12:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T5](
	[c1] [uniqueidentifier] NOT NULL,
	[c2] [char](7984) NOT NULL,
 CONSTRAINT [PK_T5] PRIMARY KEY CLUSTERED 
(
	[c1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T1] ADD  CONSTRAINT [DF_T1A_c1]  DEFAULT (newid()) FOR [c1]
GO
ALTER TABLE [dbo].[T2] ADD  CONSTRAINT [DF_T2_c1]  DEFAULT (newid()) FOR [c1]
GO
ALTER TABLE [dbo].[T3] ADD  CONSTRAINT [DF_T3_c1]  DEFAULT (newid()) FOR [c1]
GO
ALTER TABLE [dbo].[T4] ADD  CONSTRAINT [DF_T4_c1]  DEFAULT (newid()) FOR [c1]
GO
ALTER TABLE [dbo].[T5] ADD  CONSTRAINT [DF_T5_c1]  DEFAULT (newid()) FOR [c1]
GO
/****** Object:  StoredProcedure [dbo].[generateRandomString]    Script Date: 5/4/2016 8:12:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE
 PROCEDURE [dbo].[generateRandomString]
(
	@length INT
)
AS
BEGIN
	DECLARE @string CHAR(8000)
	DECLARE @loopCount INT

	SET @length = 8000

	SET @loopCount = 0
	SET @string = ''

		WHILE ( @loopCount < @length )
		BEGIN
			SET @string =  SUBSTRING(CONVERT(varchar(255), NEWID()), 0, 26) + @string 
			SET @loopCount = LEN(@string)
		END

	select @string
END

GO
USE [master]
GO
