@page

<div class="text-center">
    <p><strong>
        System hostname: @System.Environment.MachineName
        </strong>
    </p>
    <p><strong>Application Version: </strong>1.0</p>
</div>
